<template>
    <require from="../../components/card-item/card-item"></require>
    <require from="../../components/loader/loader"></require>
    <div class="flex flex-wrap gap-4 justify-between">
        <p class="text-5xl font-bold" >${category.title}</p>
        <div class="flex flex-wrap gap-4" if.bind="!loading">
            <input value.bind="searchQuery" class="border-2 border-black md:w-96" >
            <button click.trigger="getData()" class="bg-red-500 px-12">Search</button>
        </div>
    </div>

    <loader if.bind="loading && !data.length"></loader>

    <div else class="flex flex-wrap gap-4 mt-2 justify-start">
        <card-item repeat.for="item of data" item.bind="item" category.bind="category" ></card-item>
    </div>
    <loader if.bind="loading && data.length"></loader>
</template>